@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.box_top{
   min-height: 40vh
   
}

.containerCard{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px;
}
.nome{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size:70px;
  font-style: normal;
  color:rgb(0, 0, 0);
  margin:0;
}

.top_box_in_home {
         min-height: 40vh;
        width: 100vw;
        display: grid;
        grid-template-areas:
            "texts texts texts";
}
    
.texts {
    grid-area: texts;
    padding: 80px 40px 0px;
}


.first_text_pag{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size:70px;
  font-style: normal;
  color:rgb(0, 0, 0);
  margin:0;
}

.second_text_pag{
  padding-left:200px;
  padding-right:400px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size:23px;
  font-style: normal;
  color:rgb(0, 0, 0);
  text-align: justify;
}

.main_in_menu{
    background-color:rgb(255, 255, 255);
}

.buttondegrade{
    background:linear-gradient(rgb(255, 255, 255,));
}